@use '@/sass/abstracts/' as *;

:root {
  --clr-white: hsl(0, 0%, 96%);
  --clr-gray-700: hsl(0, 1%, 26%);
  --clr-green-400: hsl(120, 49%, 44%);
  --clr-black-800: hsl(0, 0%, 5%);

  --fw-bold: 700;
}
