@use '@/sass/abstracts' as *;

.sign-in-heading {
  text-align: center;
  padding: 2rem 2rem 4rem 2rem;
  color: var(--clr-green-400);
}

.sign-in-form {
  @include flex-config($direction: column);

  &__label {
    color: var(--clr-dark-400);
    margin-top: 1rem;
  }

  &__input {
    font-size: 1.5rem;
    outline: 0;
    border: none;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid var(--clr-dark-400);
  }
}

.validated {
  border-bottom: 1px solid var(--clr-green-400);
}

.invalid {
  border-bottom: 1px solid var(--clr-danger);
}

.sign-up-paragraph {
  font-size: 1.2rem;
  margin-top: 0.5rem;

  &__span {
    color: var(--clr-green-600);
    cursor: pointer;
  }
}

.invalid-message {
  color: var(--clr-danger);
}

.auth-error {
  color: var(--clr-danger);
  margin-top: 1rem;
  font-size: 1.3rem;
}
