@use '@/sass/abstracts/' as *;

.header {
  padding: 2rem 0;
  background-color: hsl(0, 0%, 96%);
}

.nav {
  @include flex-config($justify: space-between, $align: center);
}

.logo {
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 0.2rem;

  &__span {
    color: var(--clr-green-400);
  }
}

.nav-links {
  height: 100%;
  width: 100%;
  @include flex-config($direction: column, $justify: center, $align: center);
  gap: 1rem;
  @include position($pos: fixed, $top: 0, $left: 0);
  z-index: 2;
  background-color: var(--clr-green-400);
  color: var(--clr-white);

  @include mq(sm) {
    position: initial;
    flex-direction: row;
    justify-content: flex-end;
    height: auto;
    width: 100%;
    background-color: transparent;
    color: var(--clr-dark-800);
  }

  &__item {
    @include flex-config($direction: column, $align: center);
    gap: 0.5rem;
    font-size: 2rem;
    cursor: pointer;

    @include mq(sm) {
      flex-direction: row;
      gap: 1rem;
      font-size: 1.3rem;
    }

    &--btn-transparent {
      @include mq(sm) {
        padding: 0.6rem 1.5rem;
        border: 1px solid var(--clr-dark-800);
        border-radius: 2rem;
      }
    }

    &--btn-green {
      padding: 0.6rem 1.5rem;
      background-color: var(--clr-green-400);
      color: var(--clr-white);
      border-radius: 2rem;
    }
  }
}

.search-input {
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  border: 0.5px solid var(--clr-green-300);

  &:focus {
    outline: 1px solid var(--clr-green-400);
  }
}

.search-icon {
  margin-left: 1rem;
}

.welcome {
  &__text {
    font-size: 1.2rem;
  }

  &__name {
    color: var(--clr-green-400);
    text-align: center;
  }
}

.cta-btns {
  @include mq(sm) {
    display: flex;
  }
}

.hamburger {
  cursor: pointer;
  z-index: 3;
  position: fixed;
  top: 2rem;
  right: 2rem;

  @include mq(sm) {
    top: 3rem;
    right: 5rem;
  }

  @include mq(sm) {
    display: none;
  }

  .active &__bar:nth-child(2) {
    transform: translateY(1px) rotate(137deg);
  }

  .active &__bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  &__bar {
    display: block;
    width: 2.5rem;
    height: 0.3rem;
    background-color: var(--clr-dark-800);
    margin: 0.5rem auto;
    transition: all 0.3s ease-in-out;

    @include mq(sm) {
      height: 0.4rem;
    }
  }
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
