@use '@/sass/abstracts/' as *;

.search-box {
  @include position($pos: absolute, $bottom: -8rem, $left: 50%);
  width: 95%;
  transform: translateX(-50%);
  background-color: var(--clr-green-300);
  padding: 2rem;
  border-radius: 1rem;

  @include mq(sm) {
    width: 60%;
  }

  @include mq(md) {
    width: 40%;
  }

  &__heading {
    font-size: clamp(1.5rem, 2vw, 2rem);
    color: var(--clr-dark-800);
    margin-bottom: 1rem;
    text-align: center;
  }
}

.input-container {
  @include flex-config($align: center);
  position: relative;
}

.input-field {
  width: 100%;
  font-size: 1.3rem;
  padding: 10px;
  outline: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-left: none;
  border: 1px solid var(--clr-dark-400);
}

.filter-btn {
  background-color: hsl(234, 82%, 58%);
  color: var(--clr-white);
  padding: 1.3rem;
  border: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.input-icon {
  @include position($pos: absolute, $top: 1.5rem, $right: 5%);
  color: var(--clr-dark-800);
  font-size: 1.2rem;
  cursor: pointer;
}
