@use '@/sass/abstracts' as *;

.select-container {
  @include flex-config($direction: column);
  gap: 1rem;

  @include mq(sm) {
    width: 15rem;
  }

  &__label {
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
  }

  &__select {
    font-size: 1.4rem;
    padding: 0.5rem 0.5rem;
    border: 1px solid var(--clr-green-400);
    border-radius: 0.2rem;
    /* background-color: var(--clr-green-200); */
    cursor: pointer;

    &:focus {
      outline: 1.5px solid var(--clr-green-400);
    }
  }
}
