@use '@/sass/abstracts/' as *;
@use '@/sass/base/typography' as *;

.main {
  margin-top: 3rem;

  @include mq(md) {
    margin-top: 10rem;
  }
}

.meal-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
  margin-top: 5rem;
  padding-bottom: 20rem;
}
