@use '@/sass/abstracts/' as *;
@use '@/sass/base/typography' as *;

.main {
  margin-top: 3rem;

  @include mq(md) {
    margin-top: 10rem;
  }
}

.meal-cards {
  margin-top: 5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  justify-content: center;
  padding-bottom: 20rem;

  @include mq(sm) {
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    justify-content: start;
  }
}
