@use '@/sass/abstracts' as *;

.loading-spinner {
  @include flex-config($justify: center, $align: center);
  min-height: 100vh;
}

.section-meal {
  @include mq(md) {
    @include flex-config($justify: space-between, $align: center);
    margin-top: 10rem;
  }
}

.meal-info {
  flex: 1;
  text-align: center;
  padding: 5rem 0;

  @include mq(md) {
    text-align: start;
  }
}

.meal-digest {
  @include mq(md) {
    @include flex-config();
  }
}

.meal-img-container {
  &__img {
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
    margin: 0 auto;

    @include mq(md) {
      margin: auto;
    }
  }
}

.section-ingredients {
  @include flex-config(
    $direction: column,
    $justify: space-between,
    $align: center
  );
  margin-top: 10rem;
  gap: 5rem;

  @include mq(sm) {
    @include flex-config(
      $direction: row,
      $justify: space-around,
      $align: flex-start
    );
  }

  @include mq(md) {
    justify-content: space-between;
  }

  @include mq(lg) {
    margin-top: 20rem;
  }
}

.ingredients-wrapper {
  width: 80%;

  @include mq(sm) {
    width: 50%;
  }

  @include mq(md) {
    width: 40%;
  }
}

.nutrients-wrapper {
  width: 80%;

  @include mq(sm) {
    width: 50%;
  }

  @include mq(sm) {
    width: 40%;
  }
}

.link-btn {
  @include flex-config($justify: center);
  padding: 10rem 0;
}

.section-meal-tags {
  padding-bottom: 10rem;
}
