@use '@/sass/abstracts' as *;

.main {
  @include flex-config($justify: center, $align: center);
  min-height: 100vh;
  padding: 5rem 0;
}

.sign-up-container {
  @include flex-config($direction: column, $align: center);

  &__img {
    width: 80%;

    @include mq(sm) {
      width: 60%;
    }
  }
}

.form-container {
  width: 80%;

  @include mq(sm) {
    width: 60%;
  }
}
