@use '@/sass/abstracts' as *;

.sign-up-container {
  @include flex-config($justify: center, $align: center);
  min-height: 90vh;

  @include mq(lg) {
    gap: 3rem;
  }

  &__img {
    display: none;

    @include mq(lg) {
      display: block;
      width: 33.5%;
      box-shadow: var(--box-shadow);
    }
  }
}

.form-container {
  width: 80%;

  @include mq(sm) {
    width: 45%;
  }

  @include mq(lg) {
    width: 30%;
  }
}
